
.result-projects img{
  height: 200px;
  border: 1px #eee solid;
  padding: 2px;
}

.navbar-default {
	background-color: #fff;
}

label {
	font-weight: normal
}

.result-text {
	color: #fff;
	font-size: 24px;
}

#developer-select {
	background-color: #777;
	color: #fff;
}

#project-search-btn {
	background-color: #eee;
	color: #777;
}